
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Bold') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GT-Walsheim', sans-serif;
}